:root {
    --color-black: #000;
    --color-white: #fff;
}

.blind {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    margin: -1px;
}

.sticky {
    width: 100%;
    height: 100vh;
    position: sticky;
    top: 0;
}

.content {
    flex-shrink: 0;
    display: flex;
}