@import url("./reset.css");
@import url("./common.css");
@import url("./font.css");

#header {
    width: 100%;
    height: 65px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
}

#header .logo h1 {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: -1.2px;
    line-height: 1.55;
    color: var(--color-black);
    display: flex;
}

#header .logo h1 span {
    font-weight: 300;
    color: rgba(0, 0, 0, 0.4);
}

#header .menu-btn-wrap {
    width: 110px;
    height: 45px;
    position: relative;
}

#header .menu-btn {
    width: 100%;
    height: 100%;
    background-color: var(--color-black);
    transition: transform .55s cubic-bezier(.645, .045, .355, 1), opacity .35s linear .2s;
    will-change: transform, opacity;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

#header .menu-btn span {
    width: 100%;
    height: 100%;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.15;
    color: var(--color-white);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform .55s cubic-bezier(.645, .045, .355, 1), opacity .35s linear .2s;
}

#header .menu-btn span.close {
    transform: translateY(100%);
    display: none;
}

#header .menu-btn .hover-text1.close.active {
    transform: translateY(0);
    display: flex;
}

#header .menu-btn .hover-text2.close.active {
    transform: translateY(50%) rotateX(-90deg) scaleX(1) translate3d(0, 10px, 0);
    display: flex;
}

#header .menu-btn span.open.remove {
    display: none;
}

#header .menu-btn span.hover-text2 {
    opacity: 0;
    transform: translateY(50%) rotateX(-90deg) scaleX(1) translate3d(0, 10px, 0);
}

#header .menu-btn-wrap .menu-btn:hover span.hover-text1 {
    opacity: 0;
    transform: translateY(-50%) rotateX(60deg) scaleX(0.9) translate3d(0, 0px, 0);
}

#header .menu-btn-wrap .menu-btn:hover span.hover-text2 {
    opacity: 1;
    transform: translateY(0%) rotateX(0deg) scaleX(1) translate3d(0, 0px, 0);
}

#header .gnb {
    position: absolute;
    top: 0;
    right: 0;
    width: 110px;
    height: 45px;
    background-color: var(--color-black);
    transition: width .65s cubic-bezier(.215, .61, .355, 1), height .4s cubic-bezier(.215, .61, .355, 1), right .65s cubic-bezier(.215, .61, .355, 1), top .65s cubic-bezier(.215, .61, .355, 1);
    display: flex;
    align-items: center;
}

#header .gnb.active {
    width: 350px;
    height: 445px;
}

#header .gnb .gnb-list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    overflow: hidden;
    margin: 0 40px;
}

#header .gnb .gnb-list .gnb-item {
    color: var(--color-white);
    font-size: 30px;
    font-weight: 400;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    transition: padding .65s cubic-bezier(.215, .61, .355, 1);
    white-space: nowrap;
}

#header .gnb .gnb-list .gnb-item:hover {
    padding-left: 50px;
}

#header .gnb .gnb-list .gnb-item::before {
    content: '';
    width: 50px;
    height: 100%;
    background: url("../images/arrow-w.png") no-repeat;
    background-size: cover;
    position: absolute;
    transform: translateX(-100%);
    transition: transform .65s cubic-bezier(.215, .61, .355, 1);
}

#header .gnb .sns-link-list {
    position: absolute;
    bottom: 40px;
    left: 40px;
    display: flex;
    justify-content: flex-start;
    gap: 40px;
}

#header .gnb .sns-link-list li {
    position: relative;
    padding-bottom: 5px;
}

#header .gnb .sns-link-list li::before {
    content: "";
    width: 0;
    height: 1px;
    background-color: rgba(255, 255, 255, .4);
    position: absolute;
    top: 100%;
    right: 0;
    transition: width .7s cubic-bezier(0.22, 0.61, 0.36, 1);
}

#header .gnb .sns-link-list li:hover::before {
    width: 100%;
    right: auto;
    left: 0;
}

#header .gnb .gnb-list,
#header .gnb .sns-link-list {
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s .2s linear;
}

#header .gnb.active .gnb-list,
#header .gnb.active .sns-link-list {
    opacity: 1;
    visibility: visible;
}

#footer {
    height: auto;
    min-height: 400px;
    background-color: var(--color-black);
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 0 10px;
}

#footer .info-area {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-bottom: 20px;
    position: relative;
}

#footer .info-area::before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, .4);
    position: absolute;
    bottom: 0;
    left: 0;
}

#footer .info-area.font-medium {
    font-weight: 600;
}

#footer .group-link {
    width: 100%;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

#footer .group-link .link-area {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#footer .group-link .link-area .sns-link .sns-link-list {
    display: flex;
    justify-content: center;
    gap: 40px;
    color: var(--color-white);
}

#footer .group-link .link-area .sns-link-list li {
    position: relative;
    padding-bottom: 5px;
}

#footer .group-link .link-area .sns-link-list li::before {
    content: "";
    width: 0;
    height: 1px;
    background-color: rgba(255, 255, 255, .4);
    position: absolute;
    top: 100%;
    right: 0;
    transition: width .7s cubic-bezier(0.22, 0.61, 0.36, 1);
}

#footer .group-link .link-area .sns-link-list li:hover::before {
    width: 100%;
    right: auto;
    left: 0;
}

#footer .group-link .logo-area {
    width: 100%;
}

#footer .group-link .logo-area .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 12px;
}

#footer .group-link .logo-area .logo img {
    width: 30px;
    height: 30px;
}

@media (max-width:580px) {
    #header .gnb.active {
        width: 200px;
    }

    #header .gnb .gnb-list {
        margin: 0 10px;
    }

    #header .gnb .gnb-list .gnb-item {
        font-size: 16px;
    }

    #header .gnb .gnb-list .gnb-item::before {
        width: 25px;
        height: 25px;
    }

    #header .gnb .gnb-list .gnb-item:hover {
        padding-left: 15px;
    }

    #header .gnb .sns-link-list {
        flex-direction: column;
        gap: 10px;
    }

    #footer {
        padding: 0;
    }

    #footer .group-link .link-area {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    #footer .group-link .link-area .sns-link .sns-link-list {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
}